body {
    font-size: 64px;
    background-image: url('purple-and-teal.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.container {
  display: grid;
  justify-content: center;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px;
  grid-template-areas: 
  "header header header header" 
  "main main main main" 
  "main main main main" 
  "main main main main" 
  "main main main main" 
  "main main main main";
}
.item-header {
  grid-area: header;
  grid-row-start: 1;
  grid-row-end: 1;
  background-color: blueviolet;
  color: white;
  text-align: right;
  font-size: 50%;
}
.btn {
  background-color: teal;
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  margin: 4px 2px;
  border-radius: 50%;
  font-size: 30%;
}
.blue {
  background-color: blue;
  color: white;

}
.purple {
  background-color: rgb(185, 88, 194);
}
button {
  font-size: 26px;
}
h1{
    text-align: center;
    font-size: 50px;
    color: white;
}
p{
  text-align: center;
  color: purple;
  font-size: 20px;
}
